.map_container {
    height: 100%;
    position: relative;
}

.map_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.heat_cell {
    position: absolute;
    display: table;
    text-align: center;
    border: 1px dashed gray;
    border-left: 0;
    border-top: 0;
}

.heat_cell span {
    display: table-cell;
    vertical-align: middle;
    font-size: 16pt;
}

.overlay_pending {
    opacity: 0.2;
}

.overlay {
    opacity: 0.5;
}

#map {
    z-index: 10000;
    pointer-events: all;
}

#overlay {
    z-index: 11000;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
